<body>
    <div class="cont" id="stores">
        <div class="container-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.102848665622!2d-58.441435612391615!3d-34.65210544625433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbbf80977ed5%3A0xb7eedcbe4a3ab64e!2sEstadio%20Pedro%20Bidegain!5e0!3m2!1ses!2sar!4v1666032243691!5m2!1ses!2sar" class="map"></iframe>
        </div>
    </div>
</body>