*{
    margin: 0;
    padding: 0;
}
.navbar{
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 10px 0px black;
    position: sticky;
    top: 0;
}

h2{
    padding: 12px 0px 12px 0px;
    text-align: left;
    margin: 0px 0px 0px 0px;

}
.cont{
    padding: 0px 25px 0px 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.featured{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.card{
    position: relative;
    justify-content: flex-end;
}
.card-body{
    position: absolute;
}
.featured h5{
    color: white;
    font-weight: 900;
    font-size: 3.5rem;
}
.releases{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
a.btn.btn-primary{
    background-color: white;
    border-radius: 25px;
    border: 0px;
    color: black;
}
#a{
    background-color: black;
    border-radius: 25px;
    border: 0px;
    color: white;
}
.lin{
    padding-bottom: 30px;
}
.lin h5{
    padding-bottom: 15px;
}
.footer{
    background-color: black;
    color: white;
    padding: 0px 25px;
    margin: 0;
}
.footer a{
    text-decoration: none;
    color: white;
}
.up{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 15px;
}
.down{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 25px;
}
.footer p{
    margin: 0;
}
.accordion-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.accordion-body{
    display: flex;
    flex-direction: column;
}
.redes{
    display: flex;
    justify-content: space-evenly;
}
.redes button{
    background-color: transparent;
    border: 0px;
}
.redes button :hover{
    filter: gray;
}
.derechos{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.derechos a{
    color: grey;
}
#abc{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar-brand{
    font-weight: 900;
}