<h1 style="display: flex; justify-content: center; align-items: center; height: 80vh;">ADMIN MENU</h1>
<p>hola {{usuario}}</p>
<a href="/admin/login/logout" type="submit" class="btn btn-primary" style="background-color: red; border: 1px solid black;">Cerrar Sesion</a>